<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="jumbotron">

  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<p> current time is {{time}}:{{minutes}}</p>
<div *ngIf="selectedTime">
  <p> there is {{happyHour(time)}} hours left until happy Hour</p>
</div>
<button (click) = "happyHour(time)">check for happyHour</button>

  <label>
    Add new drink:
    <br>
    <input  [(ngModel)]="name">
    <br>
    <input  [(ngModel)]="brand">
    <br>
    <input  [(ngModel)]="price">
    <br>
    <button (click)="newDrink(name, brand, price)">Update Name</button>
  </label>



<h2>Welcome to Kombucha World</h2>
<p>Here is a list of current Kombucha's we have on tap: </p>
<!-- <div ng-app="tap-room" ng-controller="orderCtrl">
  <ul>
  <li ng-repeat="Menu in menus | orderBy : 'name'">{{Menu[0].name}</li>
  </ul>
</div> -->
<ul>
  <li [class]="priceColor(currentMenu.price)" *ngFor="let currentMenu of menus">{{currentMenu.name}}, {{currentMenu.brand}}: {{currentMenu.price}} {{currentMenu.pint}} pints <button (click)="editMenu(currentMenu)">Edit</button>
  </li>
</ul>

<button (click)="sortByPrice()">Sort by price</button>

<router-outlet></router-outlet>

<h1>edit menu</h1>
<div *ngIf="selectedMenu">
  <h3>{{selectedMenu.name}}</h3>

  <input [(ngModel)]="selectedMenu.name" [value]="selectedMenu.price">
  <input [(ngModel)]="selectedMenu.brand" [value]=this.selectedMenu.price>
  <input [(ngModel)]="selectedMenu.price" [value]="this.selectedMenu.price">
  <button (click)="sellPint()">Sell</button>

  <p>Is it low? {{selectedMenu.low}} </p>
</div>
