<!--The content below is only a placeholder and can be replaced.-->
<div id="header-div" style="text-align:center">
  <div class="container">

  <h1>
    Place That Sells Drinks!
  </h1>
  <div id="time">
    <p> Current time: {{ dateMessage }} </p>
    <p> Happy hour is from 3 to 5 PM </p>

  </div>

</div>
  <img id="header-img" width="300" alt="Angular Logo" src="../assets/header.jpeg">
</div>



<div class="user-body container">
  <div class="admin-controls">
    <h2>Admin: </h2>
    <ul>
      <li *ngFor="let currentMenu of menus">{{currentMenu.name}}, {{currentMenu.brand}}: {{currentMenu.price}} {{currentMenu.pint}} pints <button (click)="editMenu(currentMenu)">Edit</button>
      </li>
    </ul>

    <label>
      Add new drink:
      <br>
      <br>
      Name:
      <input  [(ngModel)]="name">
      <br>
      Brand:
      <input  [(ngModel)]="brand">
      <br>
      Price:
      <input  [(ngModel)]="price">
      <br>
      <button (click)="newDrink(name, brand, price)">Update Name</button>
    </label>
    <div *ngIf="selectedMenu">
      <h1>edit menu</h1>
      <h3>{{selectedMenu.name}}</h3>

      <input [(ngModel)]="selectedMenu.name" [value]="selectedMenu.price">
      <input [(ngModel)]="selectedMenu.brand" [value]=this.selectedMenu.price>
      <input [(ngModel)]="selectedMenu.price" [value]="this.selectedMenu.price">
      <button (click)="sellPint()">Sell</button>

      <p>Is it low? {{selectedMenu.low}} </p>
    </div>
  </div>

  <button (click)="sortByPrice()">Sort by price</button>
</div>

<router-outlet></router-outlet>
